


{#

    <h3> id  #{{ customer.id }}  _Customer:  {{ user.username }} </h3>


    <h1> Customer Infor  </h1>

    {{ form_start(form) }}



            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.address) }}


            {{ form_row(form.username) }}

            {{ form_row(form.password) }}



    <input id="as" type="submit" class="btn btn btn-primary" value="save" />

    #}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!---*************welcome this is my simple empty strap by John Niro Yumang ******************* -->

<!DOCTYPE html>
<html lang="en">

<title>Sign up facundo farm & resort</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <script src="jquery/jquery.min.js"></script>
    <!---- jquery link local dont forget to place this in first than other script or link or may not work ---->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!---- boostrap.min link local ----->

    <link rel="stylesheet" href="css/style.css">
    <!---- boostrap.min link local ----->

    <script src="js/bootstrap.min.js"></script>
    <!---- Boostrap js link local ----->

    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <!---- Icon link local ----->

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!---- Font awesom link local ----->
</head>

<body>



<style>
    body {background-color:#eee;}
    .container-fluid {padding:50px;}
    .container{background-color:white;padding:50px;   }
    #title{font-family: 'Lobster', cursive;;}




    #form_firstName { display: flex; justify-content: space-between; }
    #form_lastName { display: flex; justify-content: space-between; }
    #form_username { display: flex; justify-content: space-between; }
    #form_email { display: flex; justify-content: space-between; }
    #form_phone { display: flex; justify-content: space-between; }
    #form_password { display: flex; justify-content: space-between; }
    #form_address { display: flex; justify-content: space-between; }
    #form_plainPassword { display: flex; justify-content: space-between; }


</style>
<div class="container-fluid">
    <div class="container">
        <h2 class="text-center" id="title">Dat shop</h2>
        <p class="text-center">
            <small id="passwordHelpInline" class="text-muted"> Developer: follow me on facebook <a href="https://www.facebook.com/JheanYu"> John niro yumang</a> inspired from <a href="https://p.w3layouts.com/">https://p.w3layouts.com/</a>.</small>
        </p>





        <div class="user-dashboard">

            {#

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" class="btn" value="Create" />
            {{ form_end(form) }}

            #}


            <h3> id  #{{ customer.id }}  _Customer:  {{ user.username }} </h3>


            <h1> Customer Infor  </h1>

            {{ form_start(form) }}
            <div class="row">

                <div class="col-sm-6 ">
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                </div>
                <div class="col-sm-6 ">
                    {{ form_row(form.phone) }}
                    {{ form_row(form.address) }}
                </div>
            </div>




            <div class="deader">


                <h1> Account Managent </h1>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.username) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.password) }}
                </div>
            </div>


            <input id="as" type="submit" class="btn btn btn-primary" value="save" />


        </div>
















    </div>
        </div>
    </div>
    <p class="text-center">
        <small id="passwordHelpInline" class="text-muted"> Developer:<a href="http://www.psau.edu.ph/"> Pampanga state agricultural university ?</a> BS. Information and technology students @2017 Credits: <a href="https://v4-alpha.getbootstrap.com/">boostrap v4.</a></small>
    </p>
</div>
<div>

URL trang hiện tại : <span id="this_url"></span>.
Title trang hiện tại : <span id="this_title"></span>.


</div>



</body>


<script>

    localStorage.setItem('code',$(location).attr('href') );

    localStorage.getItem('code');

    $(document).ready(function () {
        alert($(location).attr('href'));

    });




</script>


</html>