

<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('build/admin')}}.css" />

</head>
<body class="home">

<style>




    #form_firstName { display: flex; justify-content: space-between; }
    #form_lastName { display: flex; justify-content: space-between; }
    #form_username { display: flex; justify-content: space-between; }
    #form_email { display: flex; justify-content: space-between; }
    #form_phone { display: flex; justify-content: space-between; }
    #form_password { display: flex; justify-content: space-between; }
    #form_address { display: flex; justify-content: space-between; }
    #form_plainPassword { display: flex; justify-content: space-between; }



</style>


<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo">

            </div>
            <div class="navi">
                <ul>
                    <li class="active"><a href="http://localhost:8000/admin"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                    <li><a href="http://localhost:8000/admin/orders"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Orders</span></a></li>
                    <li><a href="http://localhost:8000/admin/customers"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">customers</span></a></li>
                    <li><a href="http://localhost:8000/admin/products"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">product</span></a></li>


                </ul>
            </div>
        </div>

            <div class="user-dashboard">

                {#

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="submit" class="btn" value="Create" />
                {{ form_end(form) }}

                #}


                <h3> id  #{{ customer.id }}  _Customer:  {{ user.username }} </h3>


                   <h1> Customer Infor  </h1>

                {{ form_start(form) }}
                <div class="row">

                    <div class="col-sm-6 ">
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                </div>
                    <div class="col-sm-6 ">
                {{ form_row(form.phone) }}
                {{ form_row(form.address) }}
                    </div>
                </div>




                  <div class="deader">


                      <h1> Account Managent </h1>
                  </div>

                <div class="row">
                    <div class="col-sm-6">
                {{ form_row(form.username) }}
                    </div>
                    <div class="col-sm-6">
                {{ form_row(form.password) }}
                    </div>
                </div>


                <input id="as" type="submit" class="btn btn btn-primary" value="save" />


            </div>


        </div>
    </div>

</div>

<style>

    label
    {
        padding-left: 150px;
    }

    input[type=text] {

        width: 350px;
        height: 35px;
        padding-top: 20px;
        text-align: center;
        margin: 10px;
    }

    input[type=email] {

        width: 400px;
        height: 40px;
        padding-top: 20px;
        text-align: center;
        margin: 10px;

    }
    #as
    {
        width: 900px;
        height: 50px;
    }


</style>

<!-- Modal -->
<div id="add_project" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Project</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Project Title" name="name">
                <input type="text" placeholder="Post of Post" name="mail">
                <input type="text" placeholder="Author" name="passsword">
                <textarea placeholder="Desicrption"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" class="add-project" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function(){
        $('[data-toggle="offcanvas"]').click(function(){
            $("#navigation").toggleClass("hidden-xs");
        });
    });



</script>

</body>


</style>